@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in simple CRM application</h1>
    <h2>Please go to tab <a asp-area="" asp-controller="Users" asp-action="Index">Users</a> to start working with app</h2>
</div>
